
<div class="page-container">

  <div class="containerfavs">
    <h2>Mis Países Favoritos</h2>
    <ul>
      
      <li *ngFor="let pais of favoritos">
        <div>
          <img [src]="pais.flags.png" alt="{{ pais.name.common }} Flag" class="Flag" />
          <div class="CountryDetails">
            <h1>{{ pais.name.common }}</h1>
            <h3>Population: {{ pais.population }}</h3>
            <h3>Capital: {{ pais.capital }}</h3>
            <!-- Agregar otros detalles si es necesario -->
            <button class="remove-button" (click)="removeFromFavorites(pais)">Eliminar de Favoritos</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
  
</div>