.title {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(181, 209, 235);
  font-size: 26px;

}
.page-container {
  background-image: url("https://i.gifer.com/WMfD.gif");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerfavs {
  max-width: 1100px;
  padding: 20px;
  background-color: rgba(96, 85, 45, 0.942);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.country-item {
  flex: 1;
  background-color: #d18a50;
  border: 1px solid #6076a8;
  border-radius: 10px; /* Aumenta el radio del borde */
  padding: 10px; /* Aumenta el espaciado interno */
  min-width: 300px; /* Ajusta el ancho mínimo de la card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

.Flag {
  width: 130px; /* Ajusta el tamaño de las banderas */
  height: auto;
  margin-right: 20px;
  margin-bottom: 50px;
}

.card-content {
  display: flex;
  align-items: center;
}

.CountryDetails {
  flex: 1;
}

h1 {
  font-size: 22px; /* Reduce el tamaño del título */
  margin: 0;
}

h3 {
  font-size: 18px; /* Reduce el tamaño del texto */
  margin: 5px 0;
}

.remove-button {

  background-color: #ff6347;
  color: white;
  border: none;
  padding: 6px 5px; /* Aumenta el padding del botón */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #e74c3c;
}
