<div class="cont-page">
    <h1 class="title"> CREATE YOUR COUNTRY </h1> 
    <div class="container">
      <form [formGroup]="countryForm" (ngSubmit)="createCountry()">
        <ul class="flex-outer">
          <li>
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Enter your pais here">
          </li>
          <li>
            <label for="capital">Capital</label>
            <input type="text" id="capital" formControlName="capital" placeholder="Enter your capital here">
          </li>
          <li>
              <label for="population">Population</label>
            <input type="text" id="population" formControlName="population" placeholder="Enter your population here">
          </li>
          <li>
          </li>
          <li>
            <label for="image">Image</label>
            <input type="file" id="image" (change)="onImageChange($event)" accept="image/*">
            <button type="submit">Submit</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
  