<div class="card">
  <div class="Paises" *ngIf="paises.length > 0">
    <ul>
      <li *ngFor="let pais of getPaginatedPaises(); let i = index" class="CountryItem" [ngClass]="{'CountryColumn': i % 4 === 0}">
        <div>
          <img [src]="pais.flags.png" alt="{{ pais.name.common }} Flag" class="Flag" />
          <div class="CountryDetails">
            <h1>{{ pais.name.common }}</h1>
            <h3>Population: {{ pais.population }}</h3>
            <h3>Capital: {{ pais.capital }}</h3>
            <h4>Area: {{ pais.area }}</h4>
            <h5>Region: {{ pais.region }}</h5>
            
            <!-- Agrega un botón de corazón con un icono -->
            <button class="heart-button" (click)="toggleFavorite(pais)">
              <i class="fa fa-heart" [ngClass]="{'favorited': pais.favorite, 'favorited-heart': pais.favorite}"></i>
              ❤️
            </button>
            
            <!-- Agrega un botón para abrir Google Maps -->
            <button class="map-button" (click)="openGoogleMaps(pais.maps.googleMaps)">
              Abrir Google Maps
            </button>
            
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="paises.length === 0">
    <p>No se encontraron nombres de países.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <!-- Agrega la paginación aquí -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(1)">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of totalPages(); let i = index">
          <a class="page-link"
             (click)="onPageChange(page)"
             [attr.aria-label]="'Page ' + page"
             [ngClass]="{'active': currentPage === page}">
            {{ page }}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="onPageChange(totalPages().length)">Last</a>
        </li>
      </ul>
      
    </nav>

    
    
  </div>

</div>
