/* Estilo para la lista de páginas */
.row {
  padding: 1px;
  border-radius: 10px;
  background-color: #384b89;
}
/* Estilo para la lista de páginas */
.pagination {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 
}

/* Estilo para los elementos de la lista de páginas */
.page-item {
  margin: 0 3px;
  padding: 5px 5px 5px 5px; /* Ajusta el padding para hacer los botones más grandes */
  cursor: pointer;
  font-size: 14px; /* Ajusta el tamaño de la fuente para los números */

}


/* Estilo para los enlaces de página */
.page-link {
  padding: 3px 3px 3px 3px;
  border-radius: 4px;
  color: #0b0a0a;
  text-decoration: none;
}

/* Estilo para los enlaces de página cuando están deshabilitados */
.page-link[aria-disabled="true"] {
  color: #ccc;
  pointer-events: none;

}

.pagination .page-link.active {
  border-radius: 40px;
  padding: 2px 2px 2px 2px;
  background-color: #80dd4e; /* Color de fondo */
  color: rgb(14, 11, 11); /* Color del texto */
 

}
