<div class="row">

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" (click)="pageChange.emit(1)">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="pageChange.emit(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of totalPages; let i = index">
                <a class="page-link"
                (click)="pageChange.emit(page)"
                [attr.aria-label]="'Page ' + page"
                [ngClass]="{'active': currentPage === page}">
                {{ page }}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" (click)="pageChange.emit(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" (click)="pageChange.emit(totalPages[totalPages.length - 1])">Last</a>
        </li>
    </ul>
</nav>

</div>