/* Estilo para la lista de páginas */
.row {
  padding: 2px;
  border-radius: 20px;
  background-color: #384b89;
}
/* Estilo para la lista de páginas */
.pagination {
  color: #384b89;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 
}

/* Estilo para los elementos de la lista de páginas */
.page-item {
  margin: 0 5px;
  padding: 5px 5px 5px 5px; /* Ajusta el padding para hacer los botones más grandes */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Ajusta el tamaño de la fuente para los números */
}


/* Estilo para los enlaces de página */
.page-link {
  color: #ffffff;
  text-decoration: none;
}

/* Estilo para los enlaces de página cuando están deshabilitados */
.page-link[aria-disabled="true"] {
  color: #ccc;
  pointer-events: none;
}

.pagination .page-link.active {
  border-radius: 5px;
  padding: 5px;
  background-color: #80dd4e; /* Color de fondo */
  color: white; /* Color del texto */
 

}
.col-12{
  color: white;
  padding: 2px;
  background-color: #2c417b;
  border-radius: 5px;
}