.search-result-item h1 {
  font-family: 'Inconsolata', monospace;

}


.search-bar {
  justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2c417b;;
  }
  
  .search-input {

    padding: 10px 80px;
    border: 1px solid #cd0e0e;
    border-radius: 20px;
  }
  
  .search-button:hover {
    margin-left: 10px;
    padding: 6px 10px;
    background-color: #3300ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .close-button {
    justify-self: auto;
    padding: 10px;
    border-radius: 4px;
    background-color: #cd0e0e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: -18px;
  }
  
  .close-button:hover {
    background-color: #ff3a3a;
  }

  
  .heart-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 2em; /* Usamos 'em' para que el tamaño sea relativo */
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Agregamos border-color a la transición */
    
  }
  
  .heart-button:hover {
    transform: scale(1.2);
  }
  
  .fa-heart {
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    border: 3px solid transparent; 
    margin-left: -18px;
  }
  
  
  
  .favorited-heart {
  
    border-color: #f90909; /* Color del borde cuando está marcado como favorito */
  }
 