/* boton para volver */
button { 
  position: fixed; 
  left: 10px; 
  top: 2%; 
  
  width: 150px;
  background-color: #dbeafa;
  color: rgb(0, 0, 0); 
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #cceb1b; 
}

.navbar {
  
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #384b89; /* color navbar */
  color: aliceblue;
  padding: 20px 0;
  border-radius: 5%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 11;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.nav-list li a:hover,
.nav-list li a.active {
  color: yellow;
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 5px 0;
    text-align: center; 
  }
  
  .nav-list {
    flex-direction: column; 
    align-items: center; 
  }
  
  .nav-list li {
    margin: 10px 0;
  }
}
